@meta charset="utf-8";
*{margin:0; padding:0; box-sizing:border-box;}
body{font:0.8em/1.4 'Nanum Gothic',sans-serif;}
ul{list-style:none;}
a{text-decoration:none; color:#666;}
img{vertical-align:bottom;}
h1,h2,h3,h4,h5{font-size:1em;}
.wrap{width:100%;}
header#gnb_container{width:100%; background:#33afe9; position:relative; left:0; top:0;}
div.gnb_content{width:65%; margin:0 auto; overflow:hidden; color:#fff;}
div.gnb_content a{color:#fff;}

div.menu{width:10%; float:left;}
div.menu_icon{width:60%; height:50px; margin-right:40%; padding:15px 0; cursor:pointer;}
div.menu_icon p{width:50%; float:left;}
div.menu_icon p.btn{width:23px; height:12px; position:relative; left:0; top:2px;}
div.menu_icon p:nth-child(2){padding-left:5px;}
div.menu_icon p.btn span{width:100%; height:2px; position:absolute; background:#fff;}
div.menu_icon p.btn span:nth-child(1){left:0; top:0;}
div.menu_icon p.btn span:nth-child(2){left:0; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
div.menu_icon p.btn span:nth-child(3){left:0; bottom:0;}

nav.main_nav{width:60%; float:left; border-bottom:1px solid #33afe9;}
nav.main_nav ul{width:100%; text-align:center;}
nav.main_nav ul li{display:inline-block; margin-right:20px;}
nav.main_nav ul li:last-child{margin-right:0;}
nav.main_nav ul li a{display:block; padding:15px 0;}

nav.sub_nav{width:30%; float:right; text-align:right;}
nav.sub_nav ul{width:100%;}
nav.sub_nav ul li{display:inline-block; margin-right:20px;}
nav.sub_nav ul li:last-child{margin-right:0;}
nav.sub_nav ul li a{display:block; padding:15px 0;}

div.drop_navi{width:100%; position:absolute; left:0%; top:100%; background:#fff; z-index:999;}
div.drop_navi .inner_contain{display:none; width:65%; margin:0 auto; border:1px solid #ddd; border-top:none; text-align:center;}
div.drop_navi .inner_contain.on{display:block;}
div.drop_navi .navi_content{ width:100%; margin-top:-1px; overflow:hidden;}
div.drop_navi .drop_menu{width:10%; height:550px; float:left; line-height:40px; border-right:1px solid #ddd;}
div.drop_navi .drop_menu>a{font-size:1.025em; font-weight:700; color:#1875a0;}
div.drop_navi .drop_menu.on{
    animation:dropMenu .5s ease forwards; 
    -webkit-animation:dropMenu .8s ease forwards; }
div.drop_navi .drop_menu.on a{animation:dropMenuFont .5s ease forwards; }
@keyframes dropMenuFont{
    0%{}48%{color:#fff;}100%{}}
@keyframes dropMenu{
    0%{opacity:1;}50%{opacity:.5; background:#1875a0;}100%{opacity:1;}}
@-webkit-keyframes dropMenu{
    0%{opacity:1;}50%{opacity:.5; background:#1875a0;}100%{opacity:1;}}

div.drop_navi .drop_menu .drop_sub{width:100%; line-height:22px;}
div.drop_navi .drop_menu .drop_sub ul{width:100%;}
div.drop_navi .drop_menu .drop_sub li a{display:block;}
div.drop_navi .drop_menu .drop_sub a:hover{color:#1875a0;}

div.search_area{width:100%; height:140px; background-color:#fff; border-bottom:1px solid #33afe9; overflow:hidden;}
div.search_area .inner_area{width:65%; margin:0 auto;}

div.search_area .left_contain{display:flex; align-items:center; width:15%; height:140px; float:left; }
div.search_area .left_contain a{display:block; width:70%;}
div.search_area .left_contain a img{width:100%;}

div.center_contain{width:70%; float:left;}
div.center_contain .search_box{width:85%; margin:40px auto 0; overflow:hidden; border:1px solid #33afe9; border-radius:10px;}
div.center_contain .search_box select,.search_box input{display:block; float:left; height:40px; border:none; color:#ef3b96; outline:none;}
div.center_contain .search_box select{ width:15%; cursor:pointer; padding-left:20px;}
div.center_contain .search_box input#srch{width:70%; text-indent:30px;}
div.center_contain .search_box input#srch::placeholder{color:#ef3b96;}
div.center_contain .search_box input#enter{width:15%; background:none; cursor:pointer;}

div.center_contain nav{width:100%; margin-top:15px; font-size:.825em;}
div.center_contain ul{width:85%; margin:0 auto; overflow:hidden;}
div.center_contain ul li{display:block; width:14.285%; float:left; text-align:center;}
div.center_contain ul li a{display:inline-block; color:#ef3b96;}

div.search_area .right_contain{width:15%;float:left;}

div.content_container {width:100%;}

/*******            content > main slider               ******/
.main_slider_contain .swiper-container {
    width: 65%;
    height: 600px;
    border:1px solid #33afe9;
    border-top:0;}
.main_slider_contain .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;}
.main_slider_contain .swiper-slide .main_book{
    width:25%; float:left; height:100%; 
    padding-top:50px; 
    border-right:1px solid #ddd; 
    font-size:.8em; }
.main_book img{width:65%;}
.main_book h3{
    width:65%; height:85px; 
    margin:0 auto; padding-top:25px; 
    text-align:left;}
.main_book p{
    width:65%;
    margin:0 auto; 
    text-align:left;}
.main_slider_contain .swiper-pagination-bullet{
    width:115px;
    height:4px;
    position:relative;
    border-radius:10px;
    background-color:#ef3b96;}
.main_slider_contain .swiper-pagination-bullet:before{
    content:"국내도서";
    position:absolute;
    bottom:200%; left:50%;
    width:100%;
    transform:translateX(-50%);
    color:#ef3b96;}
.main_slider_contain .swiper-pagination-bullet:nth-child(2):before{content:"해외도서";}
.main_slider_contain .swiper-pagination-bullet:nth-child(3):before{content:"e-Book";}
.main_slider_contain .swiper-pagination-bullet:nth-child(4):before{content:"온라인중고샵";}
.main_slider_contain .swiper-pagination-bullet:nth-child(5):before{content:"음반";}
.main_slider_contain .swiper-pagination-bullet:nth-child(6):before{content:"커피";}
.main_slider_contain .swiper-pagination-bullet:nth-child(7):before{content:"DVD";}
.main_slider_contain .swiper-pagination-bullet:nth-child(8):before{content:"알라딘굿즈";}
.main_slider_contain .swiper-pagination-bullet:nth-child(9):before{content:"복풀 | 서재";}

/*****          북카테고리       *********/
section.book_cate_container{
    width:65%; margin:25px auto; overflow:hidden; text-align:center; color:#1875a0;}
section.book_cate_container h2{
    margin:10px 0;}
section.book_cate_container a{
    display:block; margin-top:5px; color:#1875a0;}
section.book_cate_container a p{
    width:80%; font-size:.9em; margin:5px auto 0; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
section.book_cate_container img{
    margin-bottom:5px;}
section.book_cate_container .swiper-container{
    width: 100%; height: 290px; border-top: 0;}
/*신작*/
section.book_cate_container .new_book{width: 15%; float:left; border: 1px solid #33afe9; color:#1875a0;}

/*편집장추천*/
section.book_cate_container .writer_pick{width: 66%; float:left; margin: 0 2%; border:1px solid #33afe9;}
.writer_pick .swiper-slide>div{width:25%; float:left}

/*best book*/
.best_book{
    width:15%; float:left; height:329px; border:1px solid #33afe9;}
.best_book h2{
    text-transform:uppercase;}
.best_book .tap_list{
    width:100%;  overflow:hidden; padding:0 10px;}
.best_book .tap_list a{
    width:50%; border:1px solid #33afe9; float:left; font-size:0.85em;}
.best_book .tap_list a.on{
    background-color:#33afe9; color:#fff;}
.best_book .tap_list a:nth-child(1){border-right:0;}
.best_book .best_number{
    display:none; text-align:left; padding:0px 10px;}
.best_book .best_number.on{
    display:block;}
.best_book .best_number ol{
    list-style:none; width:100%; margin-top:10px;}
.best_book .best_number ol li{}
.best_book .best_number a{
    display:block; width:100%; height:44px; margin-top:5px; position:relative; left:0; top:0;}
.best_book .best_number .rank_number{
    width:30px; float:left; text-align:center; margin-left:-8px; }
.best_book .best_number .rank_number span{
    display:block; width:100%; height:22px;}
.best_book .best_number .rank_number .half_top{
    width: 15px; margin:0 auto; border-bottom:1px dashed #ddd;}
.half_bot.up{color:red;}
.best_book .best_number a dl{font-size:.8125em; width:100px; position:absolute; right:0; top:0; padding-left:7px; }
.best_book .best_number a dl dt{font-weight:700; margin-bottom:2px; }
section.book_cate_container .swiper-pagination-bullet{
    background-color:#ef3b96;}

/*E-book*/
article.e_book{width:100%;}
article.e_book .container{width:83%; height:300px; float:left; border:1px solid #33afe9; margin-top:25px; position:relative;}
article.e_book .container h2{margin:15px; text-align:left; font-weight:bold;}

article.e_book .container .menu_content{width:18%; height:300px; float:left; text-align:justify; padding:25px 0 0 10px;}
article.e_book .container .menu_content a{font-size:0.825em; display:inline-block; margin:5px 5.2px;}
article.e_book .container .menu_content a:hover{color:#ef3b96;}

article.e_book .swiper-container{margin-left:2%; width:80%; height:300px; float:left;  margin-top:-40px;}
article.e_book .swiper-container .swiper-slide>div{width:25%; float:left;}
/*알라딘스페셜*/
article.aladin_special{width:100%;}
article.aladin_special .container{width:15%; float:left; height:300px; border:1px solid #33afe9; margin:25px 0 0 2%;}
article.aladin_special .swiper-button-next, 
article.aladin_special .swiper-button-prev{
    width:25px; height:25px; top:40%;}
article.aladin_special .swiper-button-prev{left:2px;}
article.aladin_special .swiper-button-next{right:2px;}
/*할인정보*/
article.saleif{width:100%;}
article.saleif .container{width:100%; height:343px; background-color:#33afe9;}
article.saleif h2{border:px solid #33afe9; text-align:center; padding:20px;}
article.saleif .saleifbox{width:16.666%; border:px solid red; float:left; text-align:center; overflow:hidden;}
article.saleif .saleifbox h1{margin-top:10px;}
article.saleif .saleifbox_son{width:207px; height:207px; overflow:hidden;border-radius:50%;border:px solid red;margin: 0 auto;}
div.saleifbox a:hover img{
  transform:scale(1.5,1.5);
  -webkit-transform:scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  transition:all 2.5s ease;
}
/*스페셜추천*/
article.special2_container{width:100%; border:px solid red;overflow: :hidden; margin-top:25px;}
article.special2_container .container{width:65%;height:100%; border:px solid blue; margin: 0 auto;overflow:hidden;}
article.special2_container img{width:100%;}
.spcleft{float:left; width:49%;margin-right:2%;border:px solid pink;}
.spcright{float:left; width:49%;border:px solid pink;}
.spcleft_2 h1{margin:2% 0 2% 0; color:#33afe9;}

.spcleft_1{width:100%;  height: 229.16px; text-align: center; margin-bottom: 2%; border:1px solid #33afe9; overflow:hidden;}
.spcleft_1 h1{margin:2% 0 2% 0;color:#33afe9;}
.spcleft_son{float:left; width:29.333%;margin-left:3%;border:px solid red;}
.spcleft_son:nth-child(4){margin-right:3%;margin-bottom:2%;}
.spcleft_1 .spcleft_son img{width:50%; margin-bottom:5%;}
.spcleft_2{width:100%; height:470.398px; text-align: center;border:1px solid #33afe9;}
.spcright_1{width:100%; height:229.34px;  text-align: center; margin-bottom: 2%; border:1px solid #33afe9; overflow:hidden;}
.spcright_son{float:left; width:29.333%;margin-left:3%;border:px solid red;}
.spcright_son:nth-child(3){margin-right:3%;margin-bottom:2%;}
/*.spcright_1{background:#33afe9; }*/
.spcright_1 h1{margin:2% 0 2% 0;color:#33afe9;}
.spcright_1 .swiper-slide{margin-bottom:3%; border:px solid red;}
.spcright_1 .swiper-slide img{width:88.58px; height:130.59px; margin-bottom:5%;}

.spcright_1:nth-child(3){margin-bottom:0;}
.spcright_1 .swiper-pagination{bottom:10px;}





